$dropDown-width: 250px;
.lmen-calendar {
    background-color: white;
    color: black;
    position: relative;
    input {
        width: 170px;
        border: 0px;
    }
    .inline-link {
        cursor: pointer;
    }
    .dropDown {
        z-index: 100;
        background-color: white;
        position: absolute;
        width: $dropDown-width;
        box-shadow: 10px 10px 5px #888888;
        padding: 5px;
        border: 1px solid black;
        font-size: 1rem;
        &.hide {
            display: none;
        }
        &.show {
            display: block;
        }
        .currentSelectedDateZone {
            color: red; //border-bottom: 1px dashed black;
            font-size: 1.3rem;
            margin-bottom: 5px;
        }
        .selectionZone {
            margin-left: 5px;
            margin-right: 5px;
            .dateSelection {
                .view {
                    .toolbar {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        width: 100%;
                        .left-zone {
                            margin-left: 2px;
                            font-size: 1.2rem;
                            flex: 0.75 70px; // size proportion (unitless)  minimum size
                            justify-content: flex-start;
                            span:nth-of-type(1) {
                                margin-left: 0px;
                            }
                            span {
                                margin-left: 5px;
                            }
                        }
                        .right-zone {
                            flex: 0.25; // size proportion (unitless)  minimum size
                            justify-content: flex-end;
                            .next {
                                margin-right: 5px;
                            }
                        }
                    }
                    table.daysView {
                        cursor: pointer;
                        border-collapse: collapse;
                        margin-top: 5px;
                        font-size: 0.95rem;
                        td {
                            text-align: center;
                            &.day-inactive {
                                cursor: text;
                                color: lightslategrey;
                            }
                            &.header {
                                cursor: text;
                                font-weight: bold;
                                text-transform: uppercase;
                            }
                            &.day-selected {
                                color: red;
                            }
                        }
                    }
                }
                table.monthsView {
                    border-collapse: collapse;
                    margin: 5px auto 0px auto;
                    font-size: 0.95rem;
                    td {
                        cursor: pointer;
                        padding: 4px;
                        text-align: center;
                    }
                    .monthSelected {
                        color: red;
                    }
                }
                table.yearsView {
                    margin-top: 5px;
                    font-size: 0.95rem;
                    td {
                        cursor: pointer;
                        padding: 2px;
                    }
                    .yearSelected {
                        color: red;
                    }
                }
            }
            .timeSelectionZone {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                table {
                    flex: 1;
                    border-collapse: collapse;
                    margin: 5px auto 0px auto;
                    td {
                        text-align: center;
                    }
                }
                .separator {
                    font-size: 1.2rem;
                }
            }
        }
        .btnsToolbar {
            display: flex; // this is the flex container
            flex-direction: row; // defines the main axis
            flex-wrap: nowrap; // wrap means the flex-items will go to the next line
            // flex-flow : combines the flex-direction and flex-wrap
            align-items: center; // tells where to place the items in the cross axis
            justify-content: center; // main-axis : tells how the items are placed on the main axis
            margin: 5px;
            button {
                // this are the flex-items
                flex: 1 70px; // size proportion (unitless)  minimum size
                max-width: 70px;
                background-color: #a4d6ed;
                border-radius: 4px;
                border: 0;
                padding-bottom: 3px;
                padding-top: 3px;
                margin: 5px;
                color: darkblue;
            }
        }
    }
}