.cdrop table {
    clear: both;
    border-collapse: collapse;
    /* border: 1px solid black; */
}

.cdrop td {
    padding: 5px;
    text-align: center;
    /* border: 1px solid black; */
}

.cdrop td.day {
    color: red;
}

.cdrop td.day-inactive {
    color: blueviolet;
}

.cdrop td.header {
    font-weight: bold;
    text-transform: uppercase;
}

.cdrop .day-selected {
    color: azure;
}

.cdrop .zone {
    width: 300px;
}

.cdrop .zone .one {
    float: left;
}

.cdrop .zone .buttons {
    float: right;
    cursor: pointer;
}

.yearSelected,
.monthSelected {
    color: red;
}